{% if savedId is defined and savedId %}
    {% set widgetResponse = {
        widget: {
            trigger: [{
                eventBroker: 'widget',
                name: 'formSave',
                args: [savedId]
            }],
        }
    } %}

    {{ widgetResponse|json_encode|raw }}
{% else %}
    <div class="widget-content">
        {% if form.vars.errors|length > 0 %}
            <div class="alert alert-error" role="alert">
                {{ form_errors(form) }}
            </div>
        {% endif %}

        <form method="post"
              data-nohash="true"
              data-disable-autofocus="true"
              id="{{ form.vars.id }}"
              name="{{ form.vars.name }}"
              action="{{ app.request.uri }}"
              class="form-dialog"
                >
            <fieldset class="form-horizontal connection-form">
                {{ form_row(form.name) }}
                {{ form_row(form.channel) }}
                {{ form_row(form.subscribersList) }}
                {{ form_rest(form) }}
            </fieldset>

            <div class="widget-actions">
                <button type="reset" class="btn">{{ 'oro.mailchimp.connection.dialog.button.cancel'|trans }}</button>
                <button type="submit" class="btn btn-success">
                    {% if entity.id %}
                        {{ 'oro.mailchimp.connection.dialog.button.update'|trans }}
                    {% else %}
                        {{ 'oro.mailchimp.connection.dialog.button.connect'|trans }}
                    {% endif %}
                </button>
            </div>
        </form>
        {{ oro_form_js_validation(form) }}
    </div>
{% endif %}
