{% import 'OroUIBundle::macros.html.twig' as UI %}

<div class="btn-group">
{% if staticSegment.id %}
    {% set html %}
        {{ UI.dropdownItem({
            'path': 'javascript:void(0);',
            'data': {
                'url': path('orocrm_mailchimp_marketing_list_connect', {id: marketingList.id}),
                'title': 'orocrm.mailchimp.connection.dialog.title.update'|trans
            },
            'id': 'mailchimp-connection-btn',
            'label': 'orocrm.mailchimp.connection.button.manage_connection'|trans,
            'class': 'no-hash',
            'iCss': 'icon-edit'
        }) }}

        {#{{ UI.dropdownItem({#}
            {#'path': path('oro_dashboard_create'),#}
            {#'title': 'oro.dashboard.create_dashboard_link.title'|trans,#}
            {#'label': 'oro.dashboard.create_dashboard_link.text'|trans,#}
            {#'iCss': 'icon-plus'#}
        {#}) }}#}

        <li>
            {{  UI.deleteLink({
                'dataUrl': path('orocrm_api_delete_staticsegment', {id: staticSegment.id}),
                'dataRedirect': path('orocrm_marketing_list_view', {id: marketingList.id}),
                'aCss': 'no-hash remove-button',
                'id': 'btn-remove-mailchimp-connection',
                'dataId': staticSegment.id,
                'entity_label': 'orocrm.mailchimp.connection.name'|trans,
                'title': 'orocrm.mailchimp.connection.button.disconnect'|trans,
                'label': 'orocrm.mailchimp.connection.button.disconnect'|trans
            }) }}
        </li>
    {% endset %}

    {{ UI.dropdownButton({
        'label': 'orocrm.mailchimp.connection.button.group_name'|trans,
        'iCss': 'icon icon-cog',
        'html': html
    }) }}
{% else %}
    {{ UI.link({
        'path': 'javascript:void(0);',
        'data': {
            'url': path('orocrm_mailchimp_marketing_list_connect', {id: marketingList.id}),
            'title': 'orocrm.mailchimp.connection.dialog.title.connect'|trans
        },
        'id': 'mailchimp-connection-btn',
        'label': 'orocrm.mailchimp.connection.button.connect'|trans,
        'class': 'no-hash btn btn-primary',
        'iCss': 'icon-exchange'
    }) }}
{% endif %}

    <script type="text/javascript">
        require(['jquery', 'oro/dialog-widget'],
        function ($, DialogWidget) {
            var btn = $('#mailchimp-connection-btn');
            btn.on('click', function () {
                var dialogOptions = {
                    title: btn.data('title'),
                    url: btn.data('url'),
                    stateEnabled: false,
                    incrementalPosition: false,
                    loadingMaskEnabled: true,
                    dialogOptions: {
                        modal: true,
                        resizable: false,
                        width: 475,
                        autoResize: true
                    }
                };
                var dialog = new DialogWidget(dialogOptions);
                dialog.on('formSave', function (segmentId) {
                    dialog.remove();
                });
                dialog.render();
            });
        });
    </script>
</div>