{% import 'OroUIBundle::macros.html.twig' as UI %}

<div class="btn-group pull-left">
{% if staticSegment.id %}
    {% set html %}
        {{ UI.dropdownItem({
            'path': 'javascript:void(0);',
            'data': {
                'page-component-module': 'orocrmmailchimp/js/app/components/connect-btn-component',
                'page-component-options': '[]',
                'url': path('orocrm_mailchimp_marketing_list_connect', {id: marketingList.id}),
                'title': 'orocrm.mailchimp.connection.dialog.title.update'|trans,
                'message': 'orocrm.mailchimp.connection.message.update'|trans
            },
            'id': 'mailchimp-connection-btn',
            'label': 'orocrm.mailchimp.connection.button.manage_connection'|trans,
            'class': 'no-hash',
            'iCss': 'icon-edit'
        }) }}

        {#{{ UI.dropdownItem({#}
            {#'path': path('oro_dashboard_create'),#}
            {#'title': 'oro.dashboard.create_dashboard_link.title'|trans,#}
            {#'label': 'oro.dashboard.create_dashboard_link.text'|trans,#}
            {#'iCss': 'icon-plus'#}
        {#}) }}#}

        <li>
            {{  UI.deleteLink({
                'dataUrl': path('orocrm_api_delete_staticsegment', {id: staticSegment.id}),
                'dataRedirect': path('orocrm_marketing_list_view', {id: marketingList.id}),
                'aCss': 'no-hash remove-button',
                'id': 'btn-remove-mailchimp-connection',
                'entity_label': 'orocrm.mailchimp.connection.name'|trans,
                'successMessage': 'orocrm.mailchimp.connection.message.disconnect'|trans,
                'title': 'orocrm.mailchimp.connection.button.disconnect'|trans,
                'label': 'orocrm.mailchimp.connection.button.disconnect'|trans
            }) }}
        </li>
    {% endset %}

    {{ UI.dropdownButton({
        'label': 'orocrm.mailchimp.connection.button.group_name'|trans,
        'iCss': 'icon icon-cog',
        'html': html
    }) }}
{% else %}
    {{ UI.link({
        'path': 'javascript:void(0);',
        'data': {
            'page-component-module': 'orocrmmailchimp/js/app/components/connect-btn-component',
            'page-component-options': '[]',
            'url': path('orocrm_mailchimp_marketing_list_connect', {id: marketingList.id}),
            'title': 'orocrm.mailchimp.connection.dialog.title.connect'|trans,
            'message': 'orocrm.mailchimp.connection.message.connect'|trans
        },
        'id': 'mailchimp-connection-btn',
        'label': 'orocrm.mailchimp.connection.button.connect'|trans,
        'class': 'no-hash btn',
        'iCss': 'icon-mailchimp'
    }) }}
{% endif %}
</div>
