{% import 'OroCRMMailChimpBundle::macros.html.twig' as uimc %}
<div class="widget-content">
    <div class="row-fluid form-horizontal">
        <div class="responsive-block">
            {{ uimc.renderAttributeWithTooltip('orocrm.mailchimp.emailcampaign.emailsSent.label'|trans,
                campaign_stat.emailsSent,
                'orocrm.mailchimp.emailcampaign.emailsSent.tooltip'|trans) }}
            <div class="control-group">
                <label class="control-label">
                    <strong>{{ 'orocrm.mailchimp.emailcampaign.positive.label'|trans }}</strong>
                </label>
            </div>
            {{ uimc.renderAttributeWithTooltip('orocrm.mailchimp.emailcampaign.opens.label'|trans,
                campaign_stat.opens,
                'orocrm.mailchimp.emailcampaign.opens.tooltip'|trans) }}
            {{ uimc.renderAttributeWithTooltip('orocrm.mailchimp.emailcampaign.clicks.label'|trans,
                campaign_stat.clicks,
                'orocrm.mailchimp.emailcampaign.clicks.tooltip'|trans) }}
            {{ uimc.renderAttributeWithTooltip('orocrm.mailchimp.emailcampaign.forwards.label'|trans,
                campaign_stat.forwards,
                'orocrm.mailchimp.emailcampaign.forwards.tooltip'|trans) }}
        </div>
    </div>
</div>
