{% import 'OroCRMMailChimpBundle::macros.html.twig' as uimc %}
<div class="widget-content">
    <div class="row-fluid form-horizontal">
        <div class="responsive-block">
            <div class="control-group">
                <label class="control-label">
                    <strong>{{ 'orocrm.mailchimp.emailcampaign.negative.label'|trans }}</strong>
                </label>
            </div>
            {{ uimc.renderAttributeWithTooltip('orocrm.mailchimp.emailcampaign.hardBounces.label'|trans,
                campaign_stat.hardBounces,
              'orocrm.mailchimp.emailcampaign.hardBounces.tooltip'|trans) }}
            {{ uimc.renderAttributeWithTooltip('orocrm.mailchimp.emailcampaign.softBounces.label'|trans,
                campaign_stat.softBounces,
              'orocrm.mailchimp.emailcampaign.softBounces.tooltip'|trans) }}
            {{ uimc.renderAttributeWithTooltip('orocrm.mailchimp.emailcampaign.unsubscribes.label'|trans,
                campaign_stat.unsubscribes,
              'orocrm.mailchimp.emailcampaign.unsubscribes.tooltip'|trans) }}
            {{ uimc.renderAttributeWithTooltip('orocrm.mailchimp.emailcampaign.abuseReports.label'|trans,
                campaign_stat.abuseReports,
              'orocrm.mailchimp.emailcampaign.abuseReports.tooltip'|trans) }}
        </div>
    </div>
</div>
