<div class="responsive-cell">
    <div class="box-type1">
        {#{% set campaign_stat = orocrm_mailchimp_campaign_stats(entity) %}#}
        <div class="oro-tabs">
            <ul class="nav nav-tabs">
                <li class="active">
                    <a>{{ 'orocrm.mailchimp.emailcampaign.statistics.label'|trans }}</a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active">

                    <div class="box-type1">
                        <div class="row-fluid row-fluid-divider">
                            <div class="responsive-cell form-horizontal">
                                <div class="title">
                                    <span class="widget-title">{{ 'orocrm.mailchimp.emailcampaign.positive.label'|trans }}</span>
                                </div>

                                <div class="control-group">
                                    <label class="control-label">{{ 'orocrm.mailchimp.emailcampaign.emailsSent.label'|trans }}</label>
                                    <div class="controls">
                                        <div class="control-label">{{ campaign_stat.emailsSent }}</div>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">{{ 'orocrm.mailchimp.emailcampaign.opens.label'|trans }}</label>
                                    <div class="controls">
                                        <div class="control-label">{{ campaign_stat.opens }}</div>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">{{ 'orocrm.mailchimp.emailcampaign.uniqueOpens.label'|trans }}</label>
                                    <div class="controls">
                                        <div class="control-label">{{ campaign_stat.uniqueOpens }}</div>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">{{ 'orocrm.mailchimp.emailcampaign.forwards.label'|trans }}</label>
                                    <div class="controls">
                                        <div class="control-label">{{ campaign_stat.forwards }}</div>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">{{ 'orocrm.mailchimp.emailcampaign.forwardsOpens.label'|trans }}</label>
                                    <div class="controls">
                                        <div class="control-label">{{ campaign_stat.forwardsOpens }}</div>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">{{ 'orocrm.mailchimp.emailcampaign.clicks.label'|trans }}</label>
                                    <div class="controls">
                                        <div class="control-label">{{ campaign_stat.clicks }}</div>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">{{ 'orocrm.mailchimp.emailcampaign.uniqueClicks.label'|trans }}</label>
                                    <div class="controls">
                                        <div class="control-label">{{ campaign_stat.uniqueClicks }}</div>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">{{ 'orocrm.mailchimp.emailcampaign.usersWhoClicked.label'|trans }}</label>
                                    <div class="controls">
                                        <div class="control-label">{{ campaign_stat.usersWhoClicked }}</div>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">{{ 'orocrm.mailchimp.emailcampaign.uniqueLikes.label'|trans }}</label>
                                    <div class="controls">
                                        <div class="control-label">{{ campaign_stat.uniqueLikes }}</div>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">{{ 'orocrm.mailchimp.emailcampaign.recipientLikes.label'|trans }}</label>
                                    <div class="controls">
                                        <div class="control-label">{{ campaign_stat.recipientLikes }}</div>
                                    </div>
                                </div>

                                {#<div class="control-group">#}
                                    {#<label class="control-label">{{ 'orocrm.mailchimp.emailcampaign.type.label'|trans }}</label>#}

                                    {#<div class="controls">#}
                                        {#<div class="control-label">{{ campaign_stat.type }}</div>#}
                                    {#</div>#}
                                {#</div>#}
                                {#<div class="control-group">#}
                                    {#<label class="control-label">{{ 'orocrm.mailchimp.emailcampaign.status.label'|trans }}</label>#}

                                    {#<div class="controls">#}
                                        {#<div class="control-label">{{ campaign_stat.status }}</div>#}
                                    {#</div>#}
                                {#</div>#}
                                {#<div class="control-group">#}
                                    {#<label class="control-label">{{ 'orocrm.mailchimp.emailcampaign.sendTime.label'|trans }}</label>#}

                                    {#<div class="controls">#}
                                        {#<div class="control-label">#}
                                            {#{{ campaign_stat.sendTime ? campaign_stat.sendTime|oro_format_datetime : 'N/A' }}#}
                                        {#</div>#}
                                    {#</div>#}
                                {#</div>#}
                                {#<div class="control-group">#}
                                    {#<label class="control-label">{{ 'orocrm.mailchimp.emailcampaign.lastOpenDate.label'|trans }}</label>#}

                                    {#<div class="controls">#}
                                        {#<div class="control-label">#}
                                            {#{{ campaign_stat.lastOpenDate ? campaign_stat.lastOpenDate|oro_format_datetime : 'N/A' }}#}
                                        {#</div>#}
                                    {#</div>#}
                                {#</div>#}
                                {#<div class="control-group">#}
                                    {#<label class="control-label">{{ 'orocrm.mailchimp.emailcampaign.archiveUrl.label'|trans }}</label>#}

                                    {#<div class="controls">#}
                                        {#<div class="control-label"><a#}
                                                    {#href="{{ campaign_stat.archiveUrl }}">{{ campaign_stat.archiveUrl }}</a>#}
                                        {#</div>#}
                                    {#</div>#}
                                {#</div>#}
                                {#<div class="control-group">#}
                                    {#<label class="control-label">{{ 'orocrm.mailchimp.emailcampaign.testsSent.label'|trans }}</label>#}
                                    {#<div class="controls">#}
                                        {#<div class="control-label">{{ campaign_stat.testsSent }}</div>#}
                                    {#</div>#}
                                {#</div>#}
                                {#<div class="control-group">#}
                                    {#<label class="control-label">{{ 'orocrm.mailchimp.emailcampaign.testsRemain.label'|trans }}</label>#}
                                    {#<div class="controls">#}
                                        {#<div class="control-label">{{ campaign_stat.testsRemain }}</div>#}
                                    {#</div>#}
                                {#</div>#}
                                {#<div class="control-group">#}
                                    {#<label class="control-label">{{ 'orocrm.mailchimp.emailcampaign.createdAt.label'|trans }}</label>#}
                                    {#<div class="controls">#}
                                        {#<div class="control-label">#}
                                            {#{{ campaign_stat.createdAt ? campaign_stat.createdAt|oro_format_datetime : 'N/A' }}#}
                                        {#</div>#}
                                    {#</div>#}
                                {#</div>#}
                                {#<div class="control-group">#}
                                    {#<label class="control-label">{{ 'orocrm.mailchimp.emailcampaign.updatedAt.label'|trans }}</label>#}
                                    {#<div class="controls">#}
                                        {#<div class="control-label">#}
                                            {#{{ campaign_stat.updatedAt ? campaign_stat.updatedAt|oro_format_datetime : 'N/A' }}#}
                                        {#</div>#}
                                    {#</div>#}
                                {#</div>#}

                            </div>

                            <div class="responsive-cell">
                                <div class="title">
                                    <span class="widget-title">Negative</span>
                                    <span class="widget-title">{{ 'orocrm.mailchimp.emailcampaign.negative.label'|trans }}</span>

                                </div>
                                <div class="control-group">
                                    <label class="control-label">{{ 'orocrm.mailchimp.emailcampaign.syntaxErrors.label'|trans }}</label>
                                    <div class="controls">
                                        <div class="control-label">{{ campaign_stat.syntaxErrors }}</div>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">{{ 'orocrm.mailchimp.emailcampaign.hardBounces.label'|trans }}</label>
                                    <div class="controls">
                                        <div class="control-label">{{ campaign_stat.hardBounces }}</div>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">{{ 'orocrm.mailchimp.emailcampaign.softBounces.label'|trans }}</label>
                                    <div class="controls">
                                        <div class="control-label">{{ campaign_stat.softBounces }}</div>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">{{ 'orocrm.mailchimp.emailcampaign.unsubscribes.label'|trans }}</label>
                                    <div class="controls">
                                        <div class="control-label">{{ campaign_stat.unsubscribes }}</div>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">{{ 'orocrm.mailchimp.emailcampaign.abuseReports.label'|trans }}</label>
                                    <div class="controls">
                                        <div class="control-label">{{ campaign_stat.abuseReports }}</div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
