<div class="item"><div><a href="{{ item.productUrl }}" class="name">{{ item.name }}</a></div> <div class="qty">({{ item.qty }})</div> <div class="price">{{ item.price|oro_format_currency({'currency': item.cart.storeCurrencyCode}) }}</div> <div class="rowTotal">{{ item.rowTotal|oro_format_currency({'currency': item.cart.storeCurrencyCode}) }}</div></div>
